<!-- Page Content -->
<link href="/css/signin.css" rel="stylesheet">

<div class="container">
  
    <!-- Portfolio Item Heading
    <h1 class="my-4">Page Heading
      <small>Secondary Text</small>
    </h1> -->

    <!-- Sta roba qui è a scopo di test, ovviamente, perché è una porcata -->
    <span id="apartments"><%= apartmentsTest %></span>
    
    <h1 class="my-4"><%= apartment.name %>
      <div>
        <a  href="#" style="font-size:large; text-decoration: underline; color: darkslategray; margin-top: 0rem;">
            <%= apartment.address.town %>, <%= apartment.address.province %>, <%= apartment.address.street %>
        </a>
      </div>
    </h1>
    

    <!-- Portfolio Item Row -->
    <div class="container" style="margin: 0%; padding: 0%;">
      <div class="row">
        <div class="col-sm-8">
        
          
          <!--Carousel Wrapper-->
          <div id="carousel-apartment" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-apartment" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-apartment" data-slide-to="1"></li>
              <li data-target="#carousel-apartment" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            
            <!--Slides-->
          <div class="carousel-inner rounded" role="listbox">
           
                <div class="carousel-item active">
                  <div class="view">
                    <img class="d-block w-100" src="https://a0.muscache.com/im/pictures/4cfb3ae7-dc82-4004-8d34-b9687be812f3.jpg?im_w=720" alt="First slide">
                  </div>
                </div>
        
                <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100" src="https://a0.muscache.com/im/pictures/48c023f0-becf-43e5-861a-589077a9fa6b.jpg?im_w=720" alt="Second slide">
                </div>
                </div>
                
                <div class="carousel-item">
                <div class="view">
                    <img class="d-block w-100" src="https://a0.muscache.com/im/pictures/90877b18-c9b1-4948-a523-03a6403e7e3f.jpg?im_w=720" alt="Third slide">
                </div>
                </div>
                
              </div>
                  <a class="carousel-control-prev" href="#carousel-apartment" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-apartment" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
          </div>
          <!--INSERIRE QUA LA CARDBOX PER LA PRENOTAZIONE-->
          <div class="col-sm-4 card bg-light border" id="reservation-card">
          <div class="card-body">
            <h2 id="totalPrice" class="card-title" alt="Card apartment price"> <strong id="strong-price"><%= apartment.price%>€ </strong> <small>/notte</small> </h2>
           
            <form class="form-reservation" id="form-reservation" action="/reservations/reservation" method="POST">
              
              <div class="row">
                <!--Checkin-->
                    <div class="form-label-group col-lg-12">
                        <input type="date" id="reservation-checkin" name="checkin" class="btn btn-light input-placeholding bg-warning border-dark" 
                              placeholder="Check-in" required autofocus>
                        <label for="checkin">Checkin</label>
                    </div>

                <!--Checkout-->
                    <div class="form-label-group col-lg-12">
                        <input type="date" id="reservation-checkout" name="checkout" class="btn btn-light input-placeholding bg-warning border-dark"
                              placeholder="Check-out" required autofocus>
                        <label for="checkout">Checkout</label>
                    </div>

                <!--Guests (Adults, Children, newborns)-->
                    <div class="form-group col-md-12">
                        <input type="hidden" id="reservation-guests" name="guests" max="<%=apartment.beds%>">
                        <button type="button" id="peopleDropdown" class="btn btn-light btn-block input-placeholding bg-warning border-dark rounded-pill" style="width: 12rem;"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aggiungi ospiti</button>
            
                        <!--Guests Dropdown-->
                        <div class="dropdown-menu rounded-lg bg-warning" aria-labelledby="peopleDropdown">
                          <div class="container">
                            <div class="form-inline">
                              <div class="form-group" style="line-height: 1em;">
            
                                <div>
                                  <strong class="align-middle mx-auto">Adulti</strong><br />
                                  <small class="align-middle mx-auto">12 in su</small><br /><br />
                                  <strong class="align-middle mx-auto">Bambini</strong><br />
                                  <small class="align-middle mx-auto">dai 2 ai 12</small><br /><br />
                                  <strong class="align-middle mx-auto">Neonati</strong><br />
                                  <small class="align-middle mx-auto">Fino ai 2</small>
                                </div>
            
                                <div class="ml-4" style="width: 8em">
                                  <input id="adults" class="guests-input mb-4" type="number" value="0" min="1" max="<%=apartment.beds%>" step="1"/>
                                  <input id="children"class="guests-input my-auto" type="number" value="0" min="0" max="9" step="1"/>
                                  <input id="newborns" class="guests-input mt-4" type="number" value="0" min="0" max="9" step="1"/>
                                </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>  

                    <!--Payment-->
                    <div class="form-group">
                     <select class="form-control bg-warning border-dark" id="payment" name="payment" placeholder="Tipologia di Pagamento">
                       <option value="visa">Visa</option>
                       <option value="mastercard">Mastercard</option>
                       <option value="payPal">PayPal</option>
                       <option value="payPal">Bonifico Bancario</option>
                     </select>
                   </div>
                   


                      
                        <input type="hidden" name="_method" value="POST">
                        <button id="reservation-button" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Prenota (utente)</button>
            
                        <div id="alertSignInSuccess" style="display: none;" class="alert alert-success" role="alert">
                             <strong>Prenotazione effettuata!</strong>
                        </div>
                        
                        
                      </div> <!--ROW -->

                
                <!--ID dell'appartamento-->
                <input id="apartment" name="apartment" type="hidden" value="<%=apartment._id%>">

                <!--Prezzo appartamento-->
                <input id="apartmentPrice" name="apartmentPrice" type="hidden" value="<%=apartment.price%>">
              </div> <!--FORM-->
            </form>
        
          <!--TEST COI BOTTONI POPOVER-->
          <button type="button" class="btn btn-secondary notlogged-popover" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on top
          </button>
          </div><button class="btn btn-lg btn-primary btn-block text-uppercase"
          data-toggle="popover" data-template='<div class="popover" role="tooltip"> ciao <div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'	
          >Prenota (not logged)</button>  
    </div>

  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->


                                                                      <!--DESCRIZIONE E DETTAGLI. AL MOMENTO LI TOLGO PER FARE ESPERIMENTI
                                                                        </div>
                                                                          <div class="col-md-4">
                                                                          <h3 class="my">Descrizione Appartamento</h3>
                                                                          <p><%= apartment.description %></p>
                                                                          <h3 class="my-3">Dettagli</h3>
                                                                          <ul>
                                                                            <li>L'appartamento ha <%= apartment.beds %> letti</li>
                                                                            <li>L'appartamento ha <%= apartment.rooms %> stanze</li>
                                                                            <li>L'appartamento è di tipo: <%= apartment.type_accomodation %>.</li>
                                                                            <li>L'appartamento ha i seguenti servizi <%= apartment.services %></li>
                                                                          </ul>
                                                                        
                                                                        </div>
                                                                      </div>
                                                                    -->

  <!-- /.row -->


  <div class="container-fluid mt-3 mb-5">

    <!-- Section: Block Content -->
    <section class="mb-4">
  
      <style>
        .map-container {
          overflow: hidden;
          position: relative;
          height: 0;
        }
  
        .map-container iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
        .button {
          font: bold 11px Arial;
          text-decoration: none;
          background-color: #EEEEEE;
          color: #333333;
          padding: 2px 6px 2px 6px;
          border-top: 1px solid #CCCCCC;
          border-right: 1px solid #333333;
          border-bottom: 1px solid #333333;
          border-left: 1px solid #CCCCCC;
        }
    
      </style>
  
      <div class="card">
  
        <div class="row">
          <div class="col-md-6">
  
            <!-- Google Maps -->
            <div id="map" style="height: 100%;"></div>
            <!-- <div id="map-within-card-2" class="map-container rounded-left" style="height: 200px">
              <a id="my_anchor" href=""></a>

              <iframe src="https://maps.google.com/maps?q=<%= apartment.address.street %>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
              <iframe src="https://maps.google.com/maps?q=    &t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div> -->
            <!-- Google Maps -->
            
          </div>
          
          <div class="col-10 col-md-4 mx-auto align-self-center py-4">
            
            <span>Roba per test delle mappe</span>
            <span id="address"><%= apartment.address.street %>, <%= apartment.address.zipcode %> <%= apartment.address.town %>, <%= apartment.address.province %></span><br />

            <h6 class="font-weight-bold grey-text text-uppercase small">Posizione</h6>
            <h5 class="font-weight-normal mb-4"><%= apartment.address.town %>, <%= apartment.address.province %></h5>
            <p class="text-muted font-weight-light">Indirizzo: <%= apartment.address.street %>, <%= apartment.address.zipcode %>
            
            </div>
          </div>
          
        </div>
          <!--
            <h4 class="my-3" style="font-size: xx-large;">Prezzo: <%= apartment.price %> € <small>/Notte</small>
              <button type="submit" class="btn btn-success px-3"><i class="far fa-thumbs-up" aria-hidden="true"></i>Prenota </button>          
            </h4>
          -->
          
        </section>
        <!-- Section: Block Content -->
        
      </div>
      
      
      
      <!-- Related Projects Row -->
      <h3 class="my-4">Appartamenti vicino <%= apartment.address.town %>  </h3>
      
      <div class="row">
        
      <% for(let apartment of apartments) { %>
        <%- include('apartment-preview', {apartment: apartment}); %>
      <% } %>
        
        
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->
    

    <!-- Custom scripts -->
<script src="/scripts/reservationScript.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkjeFKa701iNLE9kIkrMI1g6hjgROQbVg&callback=initMap" async defer></script>


<script>

var geocoder;
var map;

function initMap() {

  geocoder = new google.maps.Geocoder();
  map = new google.maps.Map($('#map')[0], {
    zoom: 12
  });

  geocoder.geocode( { 'address': $("apartment").text()}, function(results, status) {
    map.setCenter(results[0].geometry.location);
  });
  
  
  codeAddress();
}

function codeAddress() {

  let json = JSON.parse($("#apartments").text());
  apartments = json.map(x => {return { address: x.address, price: x.price } });

  for (const apartment of apartments) {
      let marker;
      geocoder.geocode( { 'address': apartment.address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        if(marker)
          marker.setMap(null);
        marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            label: apartment.price + "€"
        });
      } else {
        alert('Errore: ' + status);
      }
    }); 
  }
}

$('.notlogged-popover').popover({
  container: 'body'
  
});

</script>
