<div class="apartment-preview row">

    <div class="col-md-6">
      <a href="/apartments/apartment/<%= apartment._id%>">
        <img class="card-img-top" src="<%= apartment.photo_paths[0] %>" alt="Immagine appartamento">
      </a>
    </div>

    <div class="col-md-6">

      <p class="text-muted"><%= apartment.type_accomodation %>, <%= apartment.beds %> letti</p>

      <h4>
        <a href="/apartments/apartment/<%= apartment._id%>"><%= apartment.name %></a>
      </h4>
          
      <h5><%= apartment.price %> € / notte</h5>

      <p><%= apartment.bedrooms %> camere da letto, <%= apartment.beds %> letti</p>
      <span class="apartment-fulladdress"><%= apartment.fulladdress %></span>
      <span class="apartment-price"><%= apartment.price %> €</span>
    </div>

</div>

<hr>
