<div class="col-md-3 col-sm-6 mb-4">
    <a href="/apartments/apartment/<%= apartment._id%>">
        <img class="img-fluid" style="height: 150px" src="<%= apartment.photo_paths[0] %>" alt="Foto appartamento">
        <h4><%= apartment.name %></h4>
        <p class="text-muted"><%= apartment.type_accomodation %>, <%= apartment.guests_max %> ospite/i</p>
    </a>
</div>