<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="api/apartments/apartment/<%= apartment._id%>"><img class="card-img-top" src="images/foto.jpg" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="api/apartments/apartment/<%= apartment._id%>"><%= apartment.name %></a>
            </h4>
            <h5><%= apartment.price %> €</h5>
            <p class="card-text"><%= apartment.description %></p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>