<style>
  .carousel-control-next, .carousel-control-prev {
      filter: invert(100%);
  }
</style>
  
  
<!-- Page Content -->
<div class="container">
  
      <!-- Apartment Heading -->
    <h1 class="my-4"><%= apartment.name %></h1>
    <h5 class="text-muted" ><%= apartment.type_accomodation %>, affittato da <%= apartment.host.name.first %></h5>
  
    <div class="row">

      <div class="col-md-12">
        <div id="apartment-carousel" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <% for(let i = 0; i < apartment.photo_paths.length; i++) { %>
                <li data-target="#apartment-carousel" data-slide-to="<%= i %>" class="<% if(i == 0) { %>active<% } %>"></li>
              <% } %>
            </ol>
            <div class="carousel-inner" role="listbox">
              <% for(let i = 0; i < apartment.photo_paths.length; i++) { %>
                <div class="carousel-item <% if(i == 0) { %>active<% } %>">
                  <img class="d-block img-fluid" src="<%= apartment.photo_paths[i] %>"
                        alt="Foto appartamento" style="height: 350px; margin: 0 auto">
                </div>
              <% } %>
            </div>
            <a class="carousel-control-prev" href="#apartment-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#apartment-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-7">
        <h3 class="my-3">Descrizione appartamento</h3>
        <p class="text-muted"><%= apartment.type_accomodation %>, per massimo <%= apartment.guests_max %> ospiti, 
                              <%= apartment.bedrooms %> camere da letto, <%= apartment.bathrooms %> bagni e 
                              <%= apartment.beds %> letti
        </p>
        <textarea  rows="10" cols="80"><%= apartment.description %> </textarea>
        
        <h3 class="my-3">Servizi</h3>
        <ul>
          <% for(let service of apartment.services) { %>
            <li><%= service %></li>
          <% } %>
        </ul>
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <h3><%= apartment.price %>€ <small class="text-muted">/notte</small></h3> 
          </div>
          <div class="card-body">
            <h5 class="card-title text-center mb-4">Dettagli di prenotazione</h5>

            <form action="/reservations/summary" method="GET" id="reservation-summary-form" role="group">
            
              <input type="hidden" id="reservation-apartment-id" name="apartmentid" value="<%= apartment._id %>">
              <input type="hidden" id="reservation-citytax" name="citytax">
              <input type="hidden" id="reservation-cleaningcost" name="cleaningcost">
              <input type="hidden" id="reservation-servicecost" name="servicecost">
              <input type="hidden" id="reservation-staycost" name="staycost">
              <input type="hidden" id="totalcost" name="totalcost">
            
              <div class="form-row mb-3">
                <div class="col-md-6">
                  <small class="label-placeholder">CHECK-IN</small>
                  <input type="date" id="reservation-checkin" name="checkin" class="btn btn-secondary input-placeholding"
                         required>      
                </div>
  
                <div class="col-md-6">
                  <small class="label-placeholder">CHECK-OUT</small>
                  <input type="date" id="reservation-checkout" name="checkout" class="btn btn-secondary input-placeholding"
                         required>    
                </div>
              </div>
  
              <%- include('guests-dropdown') %>
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0"><%= apartment.price %>€ x <span id="nights"></span> notti</h6>
                    <span id="staycost" class="text-muted"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <h6 class="my-0">Costi di pulizia</h6>
                  <span id="cleaningcost" class="text-muted"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <h6 class="my-0">Costi di servizio</h6>
                  <span id="servicecost" class="text-muted"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <h6 class="my-0">Tassa di soggiorno</h6>
                  <span id="citytax" class="text-muted"></span>
                </li>
              </ul>

              <div class="card-footer d-flex justify-content-between lh-condensed">
                <h5>Totale</h5>
                <strong id="totalcost"></strong>
              </div> 
  
              <hr>

              <div class="form-row inline">
                  <a class="btn btn-block btn-primary mx-auto" id="confirm-reservation" tabindex="0"
                    title="Devi prima effettuare l'accesso" data-html="true" data-toggle="popover" data-trigger="focus"
                    data-content='Esegui il <a id="login-link" href="#">login</a> o 
                                  <a href="/users/signup">registrati</a> prima di continuare.'>
                    Prenota
                  </a>
                </div>
    
              </div>
              
            
            </form>

        </div>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>

    </div>
    <!-- /.row -->
    
</div>
<!-- /.container -->

<script>

  var price = Number("<%= apartment.price %>");
  var rooms = Number("<%= apartment.bathrooms %>") + Number("<%= apartment.bedrooms %>");
  var user = ejs.render('<%= session.user %>');

</script>
<script src="/scripts/apartment-details.js"></script>