<div id="customer-card-${count}" class="card">

    <div class="card-header" id="header-<%= form_id %>">
    <h5 class="mb-0">
        <button class="btn btn-link accordion-btn" data-toggle="collapse" data-target="#collapse-<%= form_id %>" 
                aria-expanded="true" aria-controls="collapse-<%= form_id %>">
        Ospite #<%= form_id %>
        </button>
    </h5>
    </div>

    <div id="collapse-<%= form_id %>" class="collapse" aria-labelledby="header<%= form_id %>" data-parent="#guests-forms">

        <div id="card-body-<%= form_id %>" class="card-body">

            <div class="card mb-5">

                <div class="card-header text-white bg-primary"><span class="far fa-user"></span> Dati personali</div>
            
                <div class="card-body"> 
            
                    <div class="form-row">
            
                        <div class="col-md-5 mb-3">
                            <label for="firstname"><span class="fas fa-user"></span> Nome</label>
                            <input type="text" class="form-control" id="firstname-<%= form_id %>" name="firstname" placeholder="Nome" required>
                            <div class="invalid-feedback">
                                L'inserimento del nome è obbligatorio.
                            </div>
                        </div>
            
                        <div class="col-md-5 mb-3">
                            <label for="lastname"><span class="fas fa-user"></span> Cognome</label>
                            <input type="text" class="form-control" id="lastname-<%= form_id %>" name="lastname" placeholder="Cognome" required>
                            <div class="invalid-feedback">
                                L'inserimento del cognome è obbligatorio.
                            </div>
                        </div>
            
                        <div class="col-md-2 mb-3">
                            <label for="sex"><span class="fas fa-venus-mars"></span> Sesso</label>
                            <select class="form-control" id="sex-<%= form_id %>" name="sex" placeholder="Sesso">
                                <option></option>
                                <option>M</option>
                                <option>F</option>
                            </select>
                        </div>
                                
                    </div>
            
                    <div class="form-row">
            
                        <div class="col-md-6 mb-3">
                            <label for="fiscalcode"><span class="fas fa-envelope"></span> Codice Fiscale</label>
                            <input type="fiscalcode" class="form-control" id="fiscalcode-<%= form_id %>" name="fiscalcode" 
                                   placeholder="Codice Fiscale" required>
                            <div class="invalid-feedback">
                                Inserire un codice fiscale valido.
                            </div>
                        </div>
            
                        <div class="col-md-3 mb-3">
                            <label for="birthdate"><span class="fas fa-birthday-cake"></span> Data di nascita</label>
                            <input type="date" class="form-control" id="birthdate-<%= form_id %>" name="birthdate" placeholder="Data di nascita">
                            <div class="invalid-feedback">
                                Inserire una data valida.
                            </div>
                        </div>
            
                        <div class="col-md-3 mb-3">
                            <label for="residence"><span class="fas fa-birthday-cake"></span> Residenza</label>
                            <input type="date" class="form-control" id="residence-<%= form_id %>" name="residence" placeholder="Residenza">
                            <div class="invalid-feedback">
                                Inserire una residenza
                            </div>
                        </div>
                                
                    </div>  
                </div>
            </div>
        </div>

    </div>
</div>

