<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bed and Breakfast">
    <meta name="author" content="Salvatore Apicella, Girolamo Nobile, Tommaso Scalici">

    <title>B&B - <%= pagetitle %></title>


    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <!-- jquery-deserialize -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-deserialize@2.0.0-rc1/src/jquery.deserialize.min.js"></script>

    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>

    <!-- underscore.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>

    <!-- Bootstrap core -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/css/index.css" rel="stylesheet">

  </head>

  <body>


    <!-- Hack per conoscere il path JS side -->
    <div id="divPath" style="display: none;"><%= path %></div>

    <!-- Placeholder for SearchBar in home -->
    <div id="searchbar-home"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark responsive">
      <div class="container col-lg">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="logo" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="navbar-nav ml-auto">

            <div class="nav-item" id="searchbar-navitem">
              <%- include('searchbar') %>
            </div>

            <a class="nav-item nav-link active" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link" href="#">Cerca alloggio</a>
    
            <% if(!session.user) { %>
            <a class="nav-item nav-link" data-toggle="modal" data-target="#signinModal" href="#">Accedi</a>
            <a class="nav-item nav-link" href="/users/signup">Registrati</a>
            <a class="nav-item nav-link" href="/apartments">Listone</a>
            <% } else { %>
            <a class="nav-item nav-link" href="/apartments/create">Inserisci Alloggio</a>
            <!-- Profile Dropdown -->
            <div class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" role="button" id="profileDropdown" data-toggle="dropdown" 
                 aria-haspopup="true" aria-expanded="false">
                  <%= session.user.name.first %>
              </a>

              <div class="dropdown-menu col-lg" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/users/profile">Profilo</a>
                <a class="dropdown-item" href="/users/logout">Esci</a>
              </div>
            </div>
            <!-- /Profile Dropdown -->
            <% } %>

          </div>
        </div>
        <!-- /.navbar -->

      </div>
    </nav>

    <!-- Page Content -->
    <div class="container col-lg">

        <div class="col-lg-12">

          <div id="ajaxContent">

            <%- include(path) %>

          </div>
          <!-- /#content -->

        </div>
        <!-- /.col-lg-12 -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-4 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; B&B 2020</p>
        <p class="m-0 text-center text-white">By Salvatore Apicella, Girolamo Nobile, Tommaso Scalici</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Custom scripts -->
    <script src="/scripts/bnb.js"></script>

    <%- include('signin') %>
    
  </body>

</html>