
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569818907/jquery.table2excel.min.js"></script>

<!-- script per l'esportazione del rendiconto -->

<script>
  $(function() {
$("#exporttable").click(function(e){
var table = $("#htmltable");
if(table && table.length){
$(table).table2excel({
exclude: ".noExl",
name: "Excel Document Name",
filename: "RendicontoBnB_" + ".xls",
fileext: ".xls",
exclude_img: true,
exclude_links: true,
exclude_inputs: true,
preserveColors: false
});
}
});

});
</script>


<link href="/css/dashboard.css" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <nav id="sidebar-menu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Filtri</span>
              <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
          </h6>  

          <li class="nav-item">
            <a class="nav-link active" href="/users/earnings">
              <span data-feather="bar-chart-2"></span>
              Guadagni <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="home"></span>
              Prenotazioni 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/reports">
              <i class="fa fa-book" aria-hidden="true"></i>
               Rendiconto 
            </a>
          </li>        
          
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard Rendiconto</h1>
        
      </div>

      <canvas class="my-4 w-100" id="my-chart" width="900" height="380"></canvas>
      
      <div class="row">
      <h2>Rendiconto <button id="exporttable" class="btn btn-primary">Esporta file .xls</button></h2>  &emsp;&emsp;&emsp;

      <form action="/users/reports" class="row" method="POST" enctype="multipart/form-data">
        <div class="form-group btn btn-primary">
          <input type="file" title=" "  placeholder="Readonly input here…" name="file"/>
        </div>
        &emsp;
        <div class="col-md-2">
          <input type="hidden" name="_method" value="PUT">
          <button class="btn btn-primary" type="submit">Invia file Rendiconto</button>
        </div>
        
        <div class="col-md-4">
          <div id="alert-form-success" style="display: none;" class="alert alert-success" role="alert">
            <strong>Dati aggiornati con successo!</strong>
          </div>
          <div id="alert-form-error" style="display: none;" class="alert alert-danger" role="alert">
          </div>
        </div>
        
      </form>
      </div>
    

     
      
      <div class="table-responsive">
        <table id="htmltable" class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Data Check-in</th>
              <th>Data Check-out</th>
              <th>Appartamento</th>
              <th>Tasse di soggiorno</th>
            </tr>
          </thead>
          <% var total = 0 ; %>
          <tbody>
            <% let id = 0; for (let reservation of reservations) { %>
              <tr data-toggle="tooltip" data-placement="right" data-html="true"
                  data-title='<strong>Info Prenotazione</strong>
                              <br />
                              Check-in: <%= moment(reservation.checkin).format("DD/MM/YYYY") %><br />
                              Check-out: <%=  moment(reservation.checkout).format("DD/MM/YYYY") %><br />
                              <br />
                              <strong>Altri ospiti</strong>
                              <br />
                              <% for (let guest of reservation.guests) { %>
                              <%= guest.firstname %> <%= guest.lastname %><br />
                              <% } %> 
                              '>
              <% for (let guest of reservation.guests) { %>
              <td><%= id %></td>
              <td><%= guest.firstname %></td>
              <td><%= guest.lastname %></td>
              <td><%= moment(reservation.checkin).format('DD/MM/YYYY') %></td>
              <td><%= moment(reservation.checkout).format('DD/MM/YYYY') %></td>
              <td><%= reservation.apartment.name %></td>
              <% var city_tax = Number(guest.citytax) %></td>   
              <td>€  <%= city_tax %> </td>
              <%  total = total + city_tax %>            
              </tr>
              <% } %>
              <% id++ %>
            <% } %> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Totale € <%= total %></td>

          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

var data = JSON.parse('<%- data %>');

</script>

<script src="/scripts/dashboard.js"></script>
