<hr>

<!--Main layout-->
<main class="">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-4 text-center">Sommario</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body">

              <h3 class="my-4 " style="color: rgb(41, 65, 65);">Pernottamento a <%= apartment.name %></h3>
              <!--Grid row-->
              <div class="row">

                

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  <div class="md-form ">
                    
                    <h5 class="my-4 " style="color: rgb(41, 65, 65);"> <%= apartment.address.street %>&nbsp;&nbsp;<%= apartment.address.street_number %>&nbsp;&nbsp;<%= apartment.address.province %></h5>

                  </div>

                </div>
                <!--Grid column-->

                

              </div>
              <!--Grid row-->

            <div class="row">
              <div class="col-md-6 mb-3">
               <button type="button"  class="btn btn-secondary btn-lg"><%= reservation.checkin %></button>
              </div>
              <div class="col-md-6 mb-3">
                <button type="button"  class="btn btn-secondary btn-lg"><%= reservation.checkout %></button>
             </div>
            </div>

              <hr>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <h3 class="my-4 text-center" style="color: rgb(41, 65, 65);">Servizi</h3>
                  <ul>
                    <% for(let service of apartment.services) { %>
                      <li><%= service %></li>
                    <% } %>
                  </ul>
                </div>
              </div>
              
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continua al checkout</button>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h2 class="my-4 text-center">Scheda</h2>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0"><%= apartment.name %></h6>
                <small class="text-muted"><%= apartment.address.street %></small>
              </div>
              <img src="https://a0.muscache.com/im/pictures/57759434/84f7b345_original.jpg?aki_policy=large" style="width: 60px; height: 60px;" class="rounded float-right" alt="...">
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                
                <label for="users"><span class="fas fa-users"></span> <%= reservation.guestsadults %> Adulti</label>
                <br>
                <label for="users"><span class="fas fa-users"></span> <%= reservation.guestschildren %> Bambini</label>
                <br>
                <label for="users"><span class="fas fa-users"></span> <%= reservation.guestsnewborns %> Neonati</label>
                <hr>
                <label for="users"><span class="fas fa-users"></span> <%= reservation.guests %> Totali</label>
              </div>
              
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <label for="calendar"><span class="fas fa-calendar"></span> Checkin:<%= reservation.checkin %> <i class="fa fa-arrow-right" aria-hidden="true"></i> Checkout : <%= reservation.checkout %></label>
              </div>
              
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <label for="price"><i class="fas fa-bed"></i> Prezzo Pernottamento: </label>

              </div>
              <span>+<%= reservation.stay_cost %>€</span>
              
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <label for="price"><i class="fas fa-house-user"></i> <br> Prezzo Residenza: </label>

              </div>
              <span>+<%= reservation.city_tax %>€</span>
              
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <label for="price"><i class="fas fa-concierge-bell"></i> Prezzo Servizi: </label>

              </div>
              <span>+<%= reservation.service_cost %>€</span>
              
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <label for="price"><i class="fa fa-bath" aria-hidden="true"></i> Prezzo Pulizie: </label>

              </div>
              <span>+<%= reservation.cleaning_cost %>€</span>
              
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Totale </span>
              <strong><%= reservation.total_cost %>€</strong>
            </li>
          </ul>
          <!-- Cart -->


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
